.header {
    background-color: rgba(28, 30, 51, 1) ; 
    height: 80vh;
    font-size: 20px;
    color: white;
    padding-top: 5%;
}                               

.header-boxs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100%;
    padding-top: 10%;
}

.left-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}   

.right-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}