.nav-links{
   margin-left: 33%;
}

.nav-link{
    display: flex !important;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
}

.nav-button{
    position: relative; 
    left: 100%;
}

@media screen and (max-width: 768px){
    .nav-links{
        margin-left: 0%;
    }
    .nav-link{
        margin: 0;
        padding: 3%;
        border-bottom: solid 1px #807f7f !important;
    }
    .nav-button{
        position: relative; 
        left: 0;
        border-bottom: none !important;
    }
}